@charset "utf-8";

/*---------------------------------------------------------------
　　　tablet layout　（基本レイアウトはPCと共用）
---------------------------------------------------------------*/
@media screen and (min-width: 641px) and (max-width: 1020px){
.block{
	display: block;
}

/*============================ info ============================*/
#info_box{
	width: 90%;
}

/*-- info タイトル --*/
#info_title{
	right: 455px;
}


/*========================== about ==========================*/
#about_left{
	width: 49%;
	padding: 20px 1% 120px 0;
}
#about_right{
	width: 49%;
	padding: 20px 0px 120px 1%;
}


/*========================== プレーヤー ==========================*/
#audio_space_in{
	width: 620px;
}
#audio_play{
	margin: 3px 18px 0 12px;
}
#audio_title{
	margin: 8px 0 0 14px;
	font-size: 10px;
	letter-spacing: -0.3px;
	width: 135px;
}

/*-- 再生ボタン --*/
#audio_play{
	margin: 1px 3px 0px 3px;
	padding: 4px 3px 2px 3px;
}
#audio_play img{
	width: 18px;
}
/*-- 次曲ボタン --*/
#audio_next{
	margin: 1px 0 0 0;
	padding: 5px 5px 3px 5px;
}
/*-- 前曲ボタン --*/
#audio_prev{
	margin: 1px 0 0 8px;
	padding: 5px 5px 3px 5px;
}
/*-- リピートボタン --*/
#audio_repeat{
	margin: 1px 6px 0 3px;
	padding: 4px 4px 2px 4px;
}
#audio_repeat img{
	width: 19px;
}
/*-- スピーカー --*/
#audio_sp{
	outline: none;
	float: left;
	margin: 5px 1px 0 0;
}
#audio_sp img{
	width: 22px;
}

/*-- コントローラー部　波形、時間 --*/
#waveform{
	width: 200px;
	margin: 2px 6px 0 0;
}
.waveform_counter{
	letter-spacing: 0px;
	margin: 8px 6px 0 0;
}
.waveform_duration{
	letter-spacing: 0px;
	margin: 8px 6px 0 0;
}

/*-- 音量スライダー --*/
#volume[type="range"]{
	width: 34px;
}
#volume_active{
	width: 17px;
	left: 159px;
}
}








/*---------------------------------------------------------------
　　　SP layout
---------------------------------------------------------------*/
@media screen and (max-width: 640px){
html, body{
	height: 100%;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 12px;
	color: #666;
	letter-spacing: 0.5px;
	-webkit-text-size-adjust: 100%;
}

a{
	text-decoration: none;
	outline:none;
}

h1{
	font-size: 22px;
	letter-spacing: 1.8px;
	color: #fff;
	font-family: 'Changa', sans-serif;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	font-weight: normal;
	margin: 45px 0 0 0;
	z-index: 1;
}
h1:before{
	content: "　";
	position: absolute;
	top: -40px;
	left: 50%;
	width: 28px;
	height: 28px;
	margin: 0 0 0 -20px;
	background: url("images/logo.png") center center/28px 28px no-repeat;
}
h1 span{
	display: block;
	font-size: 13px;
	margin: 10px auto 0 auto;
	color: #ccc;
	letter-spacing: 1.5px;
}

h2{
	text-align: center;
	font-size: 27px;
	padding: 10px 0 70px 0;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
}
h2:after{
	content: "";
	position: absolute;
	bottom: 54px;
	left: 0;
	right: 0;
	width: 45px;
	height: 3px;
	margin: 0 auto;
	background-color: #53c6d6;
	border-radius: 4px;
}

h3{
	font-size: 20px;
	color: #666;
	font-family: 'Titillium Web';
	display: inline-block;
	padding: 15px 0;
	width: 250px;
	position: relative;
}
.music_cat h3:before,
.music_cat_in h3:before,
.music_cat_ar h3:before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	z-index:  -1;
	position:  absolute;
}
.music_cat h3:before{
	border-width: 0px 0 40px 20px;
	border-color: transparent transparent #53c6d6 transparent;
	transform: rotate(30deg);
	top: -5px;
	left: 40px;
	opacity: 0.5;
}
.music_cat_in h3:before{
	border-width: 0px 0 20px 30px;
	border-color: transparent transparent #C3ACCE transparent;
	transform: rotate(60deg);
	top: 10px;
	left: 10px;
	opacity: 0.5;
}
.music_cat_ar h3:before{
	border-width: 0px 5px 30px 30px;
	border-color: transparent transparent #C2C094 transparent;
	transform: rotate(15deg);
	top: 5px;
	left: 25px;
	opacity: 0.5;
}

section{
	padding-top: 45px !important;
	padding-bottom: 50px !important;
}
section:last-child{
	padding-bottom: 70px !important;
}

/*-- ページ内リンクのずれ対策 --*/
#link_1,
#link_2,
#link_3,
#link_4{
	padding-top: 40px;
	margin-top: -40px;
}
#link_5,
#link_6,
#link_7{
	padding-top: 50px;
	margin-top: -50px;
}

/*-- float解除 --*/
.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/*========================== header ==========================*/
header{
	text-align: center;
	margin: -50px 0 0 0;
	height: 250px;
	opacity: 0.9;
	z-index: -1;
	position: relative;
	display: flex;
	justify-content: center;
}
header:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQYV2NkwA7OMGIRP8PAwGCCLgEWBClGloALIkugCMIkMARBEgCeCgXTiftPxQAAAABJRU5ErkJggg==);
}
#img_slide{
	width: 100%;
	height: 300px;
	top: 40px;
	position: fixed !important;
}


/*============================ nav ============================*/
nav{
	width: 100%;
	height: 40px;
	top: 0;
	z-index: 1000;
	background-color: #fff;
	position: fixed;
	font-family: 'Titillium Web';
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
#nav_logo_frame,
.nav_link{
	display: none;
}
nav ul{
	text-align: center;
	margin: 0 auto;
	font-size: 0;
	line-height: 40px;
	padding: 0 15px;
}
nav ul li{
	display: inline-block;
	width: 24%;
}
nav ul li a{
	font-size: 11px;
	color: #777;
	position: relative;
	display: inline-block;
}
nav ul li a:after{
	content: "";
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #53c6d6;
	transform: scale(0, 1);
	transform-origin: right top;
	transition: transform .3s;
}
nav ul li .active{
	color: #53c6d6;
}
nav ul li .active:after{
	transform-origin: left top;
	transform: scale(1, 1);
}


/*============================ info ============================*/
#info{
	width: 100%;
	position: relative;
	text-align: center;
	z-index: 4;
	background-color: #fff;
}
#info_box{
	width: 90%;
	height: 124px;
	margin: 0 auto 30px auto;
	color: #333;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 10px;
	letter-spacing: -0.3px;
	list-style: none;
	padding: 10px 7px;
	text-align: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	line-height: 19px;
}
#info_box li{
	padding: 14px 0 14px 0;
	border-bottom: 1px solid #ccc;
}
#info_box li:first-child{
	padding: 4px 0 14px 0;
}
#info_box li:last-child{
	padding: 14px 0 4px 0;
	border-bottom: none;
}
#info_box time.old_info{
	background-color: #2e2e2e;
	border-radius: 10px;
	padding: 2px 10px 3px 10px;
	margin: 0 8px 0 0;
	color: #ddd;
}
#info_box time.new_info{
	background-color: #2e2e2e;
	border-radius: 0 10px 10px 0;
	padding: 2px 10px 3px 7px;
	margin: 0 8px 0 0;
	color: #ddd;
}
.new_icon{
	background-color: #53c6d6;
	padding: 2px 5px 3px 8px;
	border-radius: 10px 0 0 10px;
	color: #fff;
}
#info_box a{
	color: #333;
	border-bottom: 1px dashed #bbb;
}
#info_box a:active{
	color: #53c6d6;
	border-bottom: 1px dashed #53c6d6;
}


/*========================== music ==========================*/
#music{
	width: auto;
	padding: 0 12px;
	background-color: #f3f3f3;
	padding-top: 50px !important;
	z-index: -1;
}
#music h2{
	padding-bottom: 50px;
}
#music h2:after{
	bottom: 36px;
}

/*-- 曲一覧のカテゴリー --*/
.music_cat,
.music_cat_ar,
.music_cat_in{
	width: 100%;
	margin: 0 0 5px 0;
	z-index: 0;
	text-align: center;
}

/*-- 各曲フレーム --*/
.music_frame,
.music_frame_ar,
.music_frame_in{
	width: 100%;
	margin: 0 0 40px 0;
}
.music_frame_item{
	padding: 12px 7px;
	position: relative;
	height: 52px;
	background-color: #fff;
	margin: 0 0 7px 0;
	background-position: 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
}
.music_frame_item:before,
.music_frame_item_ar:before,
.music_frame_item_in:before{
	content: "";
	background-color: #fff;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
/*-- 最後尾設定 --*/
.music_frame_item.is-empty{
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

/*-- 曲頭アイコン部分 --*/
.music_title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: 0;
	margin: -2px 8px 0 -14px;
	width: 18px;
	height: 18px;
}

/*-- 曲名部分 --*/
.music_title{
	float: left;
	color: #444;
	margin: 1px 0 0 -7px;
	position: absolute;
	font-size: 13px;
	letter-spacing: 0.2px;
}

/*-- テーマ、公開日部分 --*/
.m_data{
	float: right;
	margin: 3px 5px 0 0;
	font-size: 11px;
	position: relative;
	letter-spacing: 0.3px;
}
.music_thema{
	float: left;
	text-align: right;
	width: 90px;
}
.music_date{
	color: #666;
	float: left;
}

/*-- リンク部分 --*/
.m_link{
	width: 90.5%;
	font-size: 11px;
	margin: 27px 0 0 36px;
	position: relative;
}
.m_link a{
	float: left;
	text-align: center;
	width: 30.3%;
	height: 11px;
	color: #666;
	border: 1px solid #bbb;
	background: rgba(255,255,255,0.8);
	padding: 7px 0;
	margin: 0 1%;
	border-radius: 3px;
}
.m_link a:nth-child(3){
	margin: 0 0 0 1% !important;
}

/*--　リンク無し　--*/
.none_off{
	pointer-events: none !important;
	background-color: #bbb !important;
}

/*-- リンク部分　アイコン --*/
.m_link a:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin: -12px 2px -8px -9px;
	width: 24px;
	height: 23px;
}
.m_link a:nth-child(1):before{
	background: url("images/m_link/m_link_1.png") no-repeat;
	background-size: contain;
}
.view_sc:before{
	background: url("images/m_link/m_link_2sc.png") no-repeat;
	background-size: contain;
}
.view_nico:before{
	background: url("images/m_link/m_link_2nico.png") no-repeat;
	background-size: contain;
}
.view_site:before{
	background: url("images/m_link/m_link_2site.png") no-repeat;
	background-size: contain;
}
.m_link a:nth-child(3):before{
	background: url("images/m_link/m_link_3.png") no-repeat;
	background-size: contain;
}

/*-- アイコン後文字 --*/
.m_link a:nth-child(1):after{
	content: "歌詞";
}
.m_link a:nth-child(2):after{
	content: "公開サイト";
}
.m_link a:nth-child(3):after{
	content: "MP3 DL";
}

/*-- colorbox微修正 --*/
.cbox_close,
.cbox_close_2{
	line-height: 31px !important;
    opacity: 0.2 !important;
    border: 1px solid #000 !important;
}
.cbox_close:hover,
.cbox_close_2:hover{
    color: #000 !important;
    background-color: #fff !important;
    opacity: 0.2 !important;
    border: 1px solid #000 !important;
}
.modal_img_frame,
.modal_img_frame2{
	display: none;
}


/*====== アレンジ楽曲、インスト楽曲 ======*/
/*-- 各曲フレーム --*/
.music_frame_item_ar,
.music_frame_item_in{
	padding: 12px 7px;
	position: relative;
	background-color: #fff;
	margin: 0 0 7px 0;
	background-position: 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
}
.music_frame_item_ar{
	height: 67px;
}
.music_frame_item_in{
	height: 53px;
}

/*-- 公開日部分 --*/
.music_frame_item_in .music_date,
.music_frame_item_ar .music_date{
	float: right;
	margin: 2px 6px 0 0;
	font-size: 11px;
	position: relative;
	letter-spacing: 0.3px;
}

/*-- 各曲キャプション --*/
.m_cap_ar{
	float: left;
	margin: 24px 0 0 5px;
	font-size: 10px;
	letter-spacing: -0.2px;
	position: absolute;
}

/*-- リンク部分 --*/
.music_frame_item_ar .m_link{
	margin: 42px 0 0 38px;
	width: 90.5%;
}


/*========================== discography ==========================*/
#discography{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	background-image: url('images/back.jpg');
	background-attachment: fixed;
}
.disc_flame{
	margin: 0 auto 30px auto;
	padding: 0 5px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.disc_item{
	list-style: none;
	position: relative;
	margin: 5px 10px;
	width: 480px;
	background: rgba(255,255,255,0.7);
	border-radius: 4px;
	box-sizing: border-box;
	padding: 15px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.disc_item > img{
	width: 190px;
	height: 190px;
	border: 6px solid #fff;
	opacity: 0.9;
	float: left;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
/*-- 最後尾設定 --*/
.disc_item.is-empty{
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

/*-- テキスト部分 --*/
.disc_text{
	float: left;
	text-align: left;
	padding: 8px 0 5px 15px;
	width: 200px;
}
.disc_title{
	font-size: 17px;
	margin: 0 0 5px 0;
	color: #2E7DA1;
	letter-spacing: 1.5px;
}
.disc_title span{
	font-size: 10px;
	letter-spacing: 0.3px;
	margin: 0 0 0 10px;
}
.disc_date{
	font-size: 10px;
	margin: 0 0 12px 0;
	color: #888;
	letter-spacing: 0.5px;
	line-height: 12.5px;
}
.disc_text ol{
	margin: 0 0 0 18px;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.3px;
}

/*-- リンク部分 --*/
.disc_link{
	position: absolute;
	right: 10px;
	bottom: 15px;
	width: 28px;
}
.disc_link a{
	transition: all 0.3s ease;
	opacity: 0.4;
}
.disc_link a img{
	width: 28px;
	height: 28px;
	margin: 1px 0 0 0;
}
.disc_link a:hover{
	opacity: 1;
}

/*-- ツールチップ --*/
.tooltip{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip p{
    margin:0;
    padding:0;
}
.description{
    display: none;
    position: absolute;
    padding: 5px 5px 5px 5px;
	font-size: 11px;
	line-height: 18px;
    color: #fff;
	background: #2e2e2e;
	width: 70px;
	height: 18px;
	transition: all 0.3s ease;
}
.description:after{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	position: relative;
	background-image: url('images/w_open.png');
	background-size: contain;
	background-repeat: no-repeat;
	left: 2px;
	bottom: -1px;
	opacity: 0.7;
}
.description:before{
    content: "";
    position: absolute;
    top: 6px;
    left: 110px;
    border: 8px solid transparent;
    border-top: 8px solid #2e2e2e;
    margin-left: -32px;
    transform: rotateZ(270deg);
}
.tooltip:hover .description{
    display: inline-block;
    top: 0px;
    left: -85px;
}


/*========================== about ==========================*/
#about{
	width: 100%;
	margin: 0 auto 0 auto;
	background-color: #fff;
	z-index: 0;
	padding-bottom: 0 !important;
	position: relative;
}

/*-- タイトル背面 --*/
#about_title_left{
	position: absolute;
	z-index: -1;
	background-color: #f3f3f3;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
#about_title_right{
	position: absolute;
	z-index: -1;
	background-color: #fff;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

/*-- 中身 --*/
#about_flame{
	font-size: 11px;
	line-height: 19px;
	white-space: nowrap;
	letter-spacing: -0.3px;
	z-index: -1;
}
#about_left{
	width: 48.5%;
	float: left;
	text-align: right;
	padding: 20px 1.5% 100px 0;
	background-color: #fff;
}
#about_right{
	width: 48.5%;
	float: right;
	text-align: left;
	padding: 20px 0px 100px 1.5%;
	background-color: #f3f3f3;
}

/*-- コンタクト部分 --*/
#contact_href{
	color: #666;
	border-bottom: 1px dashed #aaa;
	transition: all 0.3s ease;
}
#contact_href:active{
	border-bottom: 1px dashed #53c6d6;
	color: #53c6d6;
}


/*========================== top_back ==========================*/
#top_back_fix{
	position: fixed;
	background: rgba(0,0,0,0.4);
	width: 45px;
	height: 45px;
	bottom: 56px;
	right: 5px;
	text-align: center;
	border-radius: 50px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s ease;
	z-index: 10;
}
#top_back_fix:active{
	background: rgba(83,198,214,1);
}
#top_back_fix_in{
	background: url("images/top_back.png") no-repeat;
	background-size: contain;
	width: 23px;
	height: 23px;
	display: inline-block;
	margin: 10px 0 0 0;
}
.top_back_op{
	opacity: 1 !important;
	pointer-events: inherit !important;
}


/*========================== footer ==========================*/
footer{
	width: 100%;
	height: 200px;
	background: #2E2E2E;
	text-align: center;
	padding: 35px 0 20px 0;
	position: relative;
}
footer > a{
	display: inline-block;
	margin: 0 4px;
	border-radius: 30px;
	border: 2px solid #444;
	background-color: #444;
	transition: all 0.3s ease;
}
footer > a:active{
	background-color: #53c6d6;
	border: 2px solid #fff;
}
footer > a img{
	width: 26px;
	height: 26px;
	padding: 8px;
}
#footer_modaal{
	margin: 0 0 30px 0;
	font-size: 12px;
	letter-spacing: 0.7px;
	display: flex;
	justify-content: center;
}
#footer_modaal a{
	color: #888;
	border-right: 1px solid #4a4a4a;
	height: 12px;
	padding: 2px 9px;
	transition: all 0.3s ease;
}
#footer_modaal a:first-child{
	border-left: 1px solid #4a4a4a;
}
#footer_modaal a:active{
	color: #53c6d6;
}
#copyright{
	width: 100%;
	font-size: 11px;
	color: #777;
	position: absolute;
	padding: 20px 0;
	background-color: #1a1a1a;
	bottom: 50px;
}


/*========================== madaal ==========================*/
/*-- 基本レイアウト --*/
.modaal_head{
	width: 100%;
	height: 70px;
	background-color: #2e2e2e;
	position: fixed;
}
.modaal_title{
	color: #eee;
	font-size: 18px;
	text-align: center;
	padding: 27px 0 0 0;
	letter-spacing: 1.5px;
}
.modaal_inner{
	padding: 100px 30px 30px 30px;
}

/*-- スクロールバー --*/
.modaal_body::-webkit-scrollbar{
    width: 5px;
}
.modaal_body::-webkit-scrollbar-track{
    background:rgba(255,255,255,0);
}
.modaal_body::-webkit-scrollbar-thumb{
    background: #999;
    box-shadow: inset 0 0 2px #888;
}

/*-- About Site --*/
.pol_title{
	margin: 0 0 25px 0;
	font-size: 18px;
}
.pol_text{
	font-size: 12px;
	letter-spacing: 0.8px;
	line-height: 17px;
	margin: 0 0 45px 15px;
}
.pol_text a{
	border-bottom: 1px dashed #aaa;
	color: #333;
	transition: all 0.3s ease;
}
.pol_text a:active{
	color: #53c6d6;
	border-bottom: 1px dashed #53c6d6;
}

/*-- Contact --*/
.con_title{
	margin: 0 0 8px 0;
	font-size: 16px;
}
.modaal_inner input[type="text"],
.modaal_inner input[type="email"]{
	margin: 0 0 30px 0;
	width: 100%;
	box-sizing: border-box;
	padding: 12px 15px;
	border: 2px solid #e9e9e9;
	background-color: #fcfcfc;
	border-radius: 2px;
	outline: none;
	transition: all 0.3s ease;
	letter-spacing: 1px;
	font-family: sans-serif;
}
.modaal_inner input[type="text"]:focus,
.modaal_inner input[type="email"]:focus{
	border-color: #53c6d6;
}
.modaal_inner textarea{
	margin: 0 0 30px 0;
	width: 100%;
	height: 120px;
	box-sizing: border-box;
	padding: 12px 15px;
	border: 2px solid #e9e9e9;
	background-color: #fcfcfc;
	border-radius: 2px;
	outline: none;
	transition: all 0.3s ease;
	letter-spacing: 1px;
	font-family: sans-serif;
}
.modaal_inner textarea:focus{
	border-color: #53c6d6;
}
.con_submit{
	display: flex;
	justify-content: center;
}
button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}
.modaal_inner button{
	border-radius: 5px;
	padding: 10px 25px;
	text-align: center;
	border: 2px solid #53c6d6;
	color: #53c6d6;
	transition: all 0.3s ease;
	font-size: 15px;
}
.modaal_inner button:active{
	background-color: #53c6d6;
	color: #fff;
}


/*========================== プレーヤー ==========================*/
#audio_space{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	z-index: 100000;
	display: flex;
	justify-content: center;
	align-items: center;
}
#audio_space_in{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	transition: all 0.5s ease;
}
#audio_title{
	color: #fff;
	font-size: 11px;
	text-align: center;
	height: 10px;
	letter-spacing: 0.3px;
	margin: 0 auto 0 auto;
	position: fixed;
	background-color: #444;
	padding: 7px 9px;
	bottom: 50px;
	opacity: 0.9;
	border-top-right-radius: 6px;
}

/*-- 読み込み中_プログレスバー --*/
#progress_bar ul{
	position: absolute;
	top: 20px;
	display: block;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42%;
}
@keyframes preload{
	0%{
		background: #53c6d6;
		opacity: 1;
	}50%{
		background: #fff;
		opacity: 0.5;
	}100%{
		background: #53c6d6;
		opacity: 1;
	}
}
#progress_bar ul li{
	opacity: 0.5;
	display: block;
	float: left;
	width: 11px;
	height: 11px;
	position: relative;
	margin: 0 2.5px;
	animation: preload 1s infinite;
	border-radius: 50%;
}
#progress_bar ul li:first-child{
	margin-left: 0;
}
#progress_bar ul li:nth-child(2){
	animation-delay: .15s;
}
#progress_bar ul li:nth-child(3){
	animation-delay: .3s;
}

/*-- コントローラー部　ボタン共通 --*/
#audio_play,
#audio_next,
#audio_prev,
#audio_repeat{
	outline: none;
	position: absolute;
}
#audio_play img,
#audio_next img,
#audio_prev img{
	width: 22px;
}

/*-- 再生ボタン --*/
#audio_play{
	top: 14px;
	left: 50px;
}
/*-- 次曲ボタン --*/
#audio_next{
	top: 14px;
	left: 86px;
}
/*-- 前曲ボタン --*/
#audio_prev{
	top: 14px;
	left: 13px;
}
/*-- リピートボタン --*/
#audio_repeat{
	top: 11px;
	left: 120px;
	border: 1px solid #fff;
	padding: 2px 3px 0px 3px;
}
#audio_repeat img{
	width: 22px;
}
.repeat_active{
	background-color: #eee;
	border: 1px solid #ddd !important;
	border-radius: 5px;
}

/*-- コントローラー部　波形、時間 --*/
#waveform{
	float: right;
	width: 41%;
	height: 10px;
	margin: -5px 3px 0 0;
}
.waveform_counter{
	float: right;
	margin: 2px 3px 0 0;
	color: #888;
	font-size: 9px;
	letter-spacing: 0.3px;
}
.waveform_duration{
	float: right;
	margin: 2px 12px 0 0;
	color: #888;
	font-size: 9px;
	letter-spacing: 0.3px;
}

/*-- 音量スライダー --*/
#volume[type="range"],
#audio_sp{
	display: none;
}

/*-- 各曲配置の再生ボタン --*/
.music_play{
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 29px;
	height: 27px;
	background-color: #53c6d6;
	border-radius: 3px;
	transition: all 0.3s ease;
	cursor: pointer;
}
.music_play img{
	width: 12px;
	position: relative;
	top: 7px;
	left: 9px;
}
.music_play:active{
	opacity: 0.5;
}

/*-- 再生楽曲カレント --*/
.m_current{
	box-shadow: 0 0 7px #666 !important;
	transition: all 0.3s ease;
}

/*-- 一時停止 --*/
.playlist_stop{
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 29px;
	height: 27px;
	border-radius: 3px;
	transition: all 0.3s ease;
	cursor: pointer;
	z-index: 2;
	display: none;
}
.stop_hide{
	display: inherit !important;
}
}