@charset "utf-8";

/*---------------------------------------------------------------
　　　tablet layout　（基本レイアウトはPCと共用）
---------------------------------------------------------------*/
@media screen and (min-width: 641px) and (max-width: 1020px){
.block{
	display: block;
}

/*============================ info ============================*/
#info_box{
	width: 480px;
}

/*-- info タイトル --*/
#info_title{
	right: 455px;
}


/*========================== about ==========================*/
#about_left{
	width: 49%;
	padding: 20px 1% 120px 0;
}
#about_right{
	width: 49%;
	padding: 20px 0px 120px 1%;
}


/*========================== プレーヤー ==========================*/
#audio_space_in{
	width: 620px;
}
#audio_play{
	margin: 3px 18px 0 12px;
}
#audio_title{
	margin: 8px 0 0 14px;
	font-size: 10px;
	letter-spacing: -0.3px;
	width: 135px;
}

/*-- 再生ボタン --*/
#audio_play{
	margin: 1px 3px 0px 3px;
	padding: 4px 3px 2px 3px;
}
#audio_play img{
	width: 18px;
}
/*-- 次曲ボタン --*/
#audio_next{
	margin: 1px 0 0 0;
	padding: 5px 5px 3px 5px;
}
/*-- 前曲ボタン --*/
#audio_prev{
	margin: 1px 0 0 8px;
	padding: 5px 5px 3px 5px;
}
/*-- リピートボタン --*/
#audio_repeat{
	margin: 1px 6px 0 3px;
	padding: 4px 4px 2px 4px;
}
#audio_repeat img{
	width: 19px;
}
/*-- スピーカー --*/
#audio_sp{
	outline: none;
	float: left;
	margin: 5px 1px 0 0;
}
#audio_sp img{
	width: 22px;
}

/*-- コントローラー部　波形、時間 --*/
#waveform{
	width: 200px;
	margin: 2px 6px 0 0;
}
.waveform_counter{
	letter-spacing: 0px;
	margin: 8px 6px 0 0;
}
.waveform_duration{
	letter-spacing: 0px;
	margin: 8px 6px 0 0;
}

/*-- 音量スライダー --*/
#volume[type="range"]{
	width: 34px;
}
#volume_active{
	width: 17px;
	left: 159px;
}
}








/*---------------------------------------------------------------
　　　SP layout
---------------------------------------------------------------*/
@media screen and (max-width: 640px){
html, body{
	height: 100%;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 12px;
	color: #666;
	letter-spacing: 0.5px;
	-webkit-text-size-adjust: 100%;
}

a{
	text-decoration: none;
	outline:none;
}

h1{
	font-size: 17px;
	letter-spacing: 1.8px;
	color: #fff;
	font-family: 'Changa', sans-serif;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	font-weight: normal;
	margin: 25px 0 0 0;
	opacity: 0;
	z-index: 1;
}
h1:before{
	content: "　";
	position: absolute;
	top: -45px;
	left: 50%;
	width: 26px;
	height: 26px;
	margin: 0 0 0 -13px;
	background: url("images/logo.png") center center/26px 26px no-repeat;
}
h1:after{
	content: "";
	position: absolute;
	width: 300px;
	height: 200px;
	background: rgba(255,255,255,0);
	top: 50%;
	left: 50%;
	z-index: -1;
	margin: -124px 0 0 -150px;
}
h1 span{
	display: block;
	font-size: 11px;
	margin: 10px auto 0 auto;
	color: #aaa;
	letter-spacing: 1.5px;
}
.h1_op{
	opacity: 1 !important;
	transition: all  0.6s ease;
}

h2{
	text-align: center;
	font-size: 27px;
	padding: 10px 0 70px 0;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
}
h2:after{
	content: "";
	position: absolute;
	bottom: 54px;
	left: 0;
	right: 0;
	width: 45px;
	height: 3px;
	margin: 0 auto;
	background-color: #53c6d6;
	border-radius: 4px;
}

h3{
	font-size: 20px;
	color: #666;
	font-family: 'Titillium Web';
	display: inline-block;
	padding: 15px 0;
	width: 250px;
	position: relative;
}
.music_cat h3:before,
.music_cat_in h3:before,
.music_cat_ar h3:before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	z-index:  -1;
	position:  absolute;
}
.music_cat h3:before{
	border-width: 0px 0 40px 20px;
	border-color: transparent transparent #53c6d6 transparent;
	transform: rotate(30deg);
	top: -5px;
	left: 40px;
	opacity: 0.5;
}
.music_cat_in h3:before{
	border-width: 0px 0 20px 30px;
	border-color: transparent transparent #C3ACCE transparent;
	transform: rotate(60deg);
	top: 10px;
	left: 10px;
	opacity: 0.5;
}
.music_cat_ar h3:before{
	border-width: 0px 5px 30px 30px;
	border-color: transparent transparent #C2C094 transparent;
	transform: rotate(15deg);
	top: 5px;
	left: 25px;
	opacity: 0.5;
}

section{
	padding-top: 45px !important;
	padding-bottom: 50px !important;
}
section:last-child{
	padding-bottom: 70px !important;
}

/*-- ページ内リンクのずれ対策 --*/
#link_1{
	padding-top: 115px;
	margin-top: -115px;
}
#link_2,
#link_3,
#link_4{
	padding-top: 40px;
	margin-top: -40px;
}
#link_5,
#link_6,
#link_7{
	padding-top: 100px;
	margin-top: -100px;
}

/*-- float解除 --*/
.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/*========================== header ==========================*/
header{
	text-align: center;
	margin: -50px 0 0 0;
	height: 400px;
	opacity: 0.8;
	z-index: -1;
	position: relative;
	display: flex;
	justify-content: center;
}
header:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: -40px 0 0 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQYV2NkwA7OMGIRP8PAwGCCLgEWBClGloALIkugCMIkMARBEgCeCgXTiftPxQAAAABJRU5ErkJggg==);
}
.parallax.bg_top{
	background: url(images/top_img.png) center 25px/cover no-repeat;
}

/*-- mp4 --*/
video{
	display: none;
}

/*-- border_アニメ --*/
.title_border{
	width: 220px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	margin: -55px 0 0 -110px;
}
.title_border_in{
	position: relative;
	width: 100%;
	height: 150px;
}
.title_border_in span{
	position: absolute;
}
.title_border_in span:nth-child(1),
.title_border_in span:nth-child(4){
	top: 0;
	background-color: #666;
	transition: all .9s linear;
}
.title_border_in span:nth-child(3),
.title_border_in span:nth-child(2){
	left: 0;
	background-color: #666;
	transition: all .9s linear;
}
.title_border_in span:nth-child(1){
	left: 0;
	width: 0;
	height: 2px;
	transform-origin: left center;
}
.title_border_in span:nth-child(2){
	top: 0;
	width: 2px;
	height: 100%;
	transform-origin: center top;
	transform: scaleY(0);
}
.title_border_in span:nth-child(3){
	bottom: 0;
	width: 0;
	height: 2px;
	transform-origin: left center;
	transition-delay: .9s;
}
.title_border_in span:nth-child(4){
	right: 0;
	width: 2px;
	height: 100%;
	transform: scaleY(0);
	transform-origin: center top;
	transition-delay: .9s;
}
.active_border .title_border_in span:nth-child(3),
.active_border .title_border_in span:nth-child(1){
	width: 100%;
}
.active_border .title_border_in span:nth-child(4),
.active_border .title_border_in span:nth-child(2){
	transform: scaleY(1);
}
.active_border_op{
	background: rgba(255,255,255,0.08);
	transition: 0.4s;
}

/*-- トップ　スクロール案内 --*/
.scroll_guide{
	display: none;
}


/*============================ info ============================*/
#info{
	position: relative;
	z-index: 5;
	top: -75px;
	right: 0;
	left: 0;
	margin: 30px 0 0 0;
	width: 100%;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
#info_box{
	background-color: #fff;
	height: 95px;
	margin: 0 auto;
	color: #333;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 10px;
	letter-spacing: 0px;
	list-style: none;
	padding: 5px 0;
}
#info_box li{
	padding: 12px 0 12px 5px;
	border-bottom: 1px solid #e5e5e5;
}
#info_box li:first-child{
	padding: 7px 0 12px 5px;
}
#info_box li:last-child{
	padding: 12px 0 8px 5px;
	border-bottom: none;
}
#info_box time{
	background-color: #2e2e2e;
	border-radius: 10px;
	padding: 1px 8px 3px 8px;
	margin: 0 7px 0 0;
	color: #ddd;
	width: 100px;
}
#info_box a{
	color: #333;
	transition: all 0.3s ease;
	border-bottom: 1px dashed #bbb;
}
#info_box a:active{
	color: #53c6d6;
	border-bottom: 1px dashed #53c6d6;
}

/*-- info タイトル --*/
#info_title{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 800px;
	background-color: #2e2e2e;
	width: 130px;
	height: 120px;
	margin: 0 auto;
	font-weight: bold;
	color: #fff;
	font-size: 30px;
}
#info_title:before{
	content: "Information";
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ddd;
	font-size: 12px;
	padding: 0 0 9px 21px;
	letter-spacing: 2px;
}


/*============================ nav ============================*/
nav{
	width: 100%;
	height: 40px;
	top: 0;
	z-index: 1000;
	background-color: #fff;
	position: fixed;
	font-family: 'Titillium Web';
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
nav ul{
	text-align: center;
	margin: 0 auto;
	font-size: 0;
	line-height: 40px;
	padding: 0 15px;
}
nav ul li{
	display: inline-block;
	width: 24%;
}
nav ul li a{
	font-size: 11px;
	color: #777;
	position: relative;
	display: inline-block;
}
nav ul li a:after{
	content: "";
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #53c6d6;
	transform: scale(0, 1);
	transform-origin: right top;
	transition: transform .3s;
}
nav ul li .active{
	color: #53c6d6;
}
nav ul li .active:after{
	transform-origin: left top;
	transform: scale(1, 1);
}


/*========================== music ==========================*/
#music{
	width: auto;
	padding: 0 12px;
	background-color: #fff;
	padding-top: 50px !important;
	margin: -75px 0 0 0;
	z-index: -1;
}
#music h2{
	padding-bottom: 50px;
}
#music h2:after{
	bottom: 36px;
}

/*-- 曲一覧のカテゴリー --*/
.music_cat,
.music_cat_ar,
.music_cat_in{
	width: 100%;
	margin: 0 0 5px 0;
	z-index: 0;
	text-align: center;
}

/*-- 各曲フレーム --*/
.music_frame,
.music_frame_ar,
.music_frame_in{
	width: 100%;
	margin: 0 0 40px 0;
}
.music_frame_item{
	padding: 12px 7px;
	position: relative;
	height: 52px;
	background-color: #fff;
	margin: 0 0 7px 0;
	background-position: 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
}
.music_frame_item:before,
.music_frame_item_ar:before,
.music_frame_item_in:before{
	content: "";
	background-color: #fff;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

/*-- 曲頭アイコン部分 --*/
.music_title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: 0;
	margin: -2px 8px 0 10px;
	width: 18px;
	height: 18px;
	background: url("images/m_icon_4.png") no-repeat;
	background-size: contain;
}

/*-- 曲名部分 --*/
.music_title{
	float: left;
	color: #444;
	margin: 1px 0 0 -7px;
	position: absolute;
	font-size: 13px;
	letter-spacing: 0.2px;
}

/*-- テーマ、公開日部分 --*/
.m_data{
	float: right;
	margin: 3px 5px 0 0;
	font-size: 11px;
	position: relative;
	letter-spacing: 0.3px;
}
.music_thema{
	float: left;
	text-align: right;
	width: 90px;
}
.music_date{
	color: #666;
	float: left;
}

/*-- リンク部分 --*/
.m_link{
	width: 90.5%;
	font-size: 11px;
	margin: 27px 0 0 36px;
	position: relative;
}
.m_link a{
	float: left;
	text-align: center;
	width: 30.3%;
	height: 11px;
	color: #666;
	border: 1px solid #bbb;
	background: rgba(255,255,255,0.8);
	padding: 7px 0;
	margin: 0 1%;
	border-radius: 3px;
}
.m_link a:nth-child(3){
	margin: 0 0 0 1% !important;
}

/*--　リンク無し　--*/
.none_off{
	pointer-events: none !important;
	background-color: #bbb !important;
}

/*-- リンク部分　アイコン --*/
.m_link a:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin: -12px 2px -8px -9px;
	width: 24px;
	height: 23px;
}
.m_link a:nth-child(1):before{
	background: url("images/m_link/m_link_1.png") no-repeat;
	background-size: contain;
}
.view_sc:before{
	background: url("images/m_link/m_link_2sc.png") no-repeat;
	background-size: contain;
}
.view_nico:before{
	background: url("images/m_link/m_link_2nico.png") no-repeat;
	background-size: contain;
}
.view_site:before{
	background: url("images/m_link/m_link_2site.png") no-repeat;
	background-size: contain;
}
.m_link a:nth-child(3):before{
	background: url("images/m_link/m_link_3.png") no-repeat;
	background-size: contain;
}

/*-- アイコン後文字 --*/
.m_link a:nth-child(1):after{
	content: "歌詞";
}
.m_link a:nth-child(2):after{
	content: "公開サイト";
}
.m_link a:nth-child(3):after{
	content: "MP3 DL";
}

/*-- colorbox微修正 --*/
.cbox_close,
.cbox_close_2{
	line-height: 31px !important;
    opacity: 0.2 !important;
    border: 1px solid #000 !important;
}
.cbox_close:hover,
.cbox_close_2:hover{
    color: #000 !important;
    background-color: #fff !important;
    opacity: 0.2 !important;
    border: 1px solid #000 !important;
}
.modal_img_frame,
.modal_img_frame2{
	display: none;
}


/*====== アレンジ楽曲、インスト楽曲 ======*/
/*-- 各曲フレーム --*/
.music_frame_item_ar,
.music_frame_item_in{
	padding: 12px 7px;
	position: relative;
	background-color: #fff;
	margin: 0 0 7px 0;
	background-position: 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
}
.music_frame_item_ar{
	height: 67px;
}
.music_frame_item_in{
	height: 53px;
}

/*-- 公開日部分 --*/
.music_frame_item_in .music_date,
.music_frame_item_ar .music_date{
	float: right;
	margin: 2px 6px 0 0;
	font-size: 11px;
	position: relative;
	letter-spacing: 0.3px;
}

/*-- 各曲キャプション --*/
.m_cap_ar{
	float: left;
	margin: 24px 0 0 5px;
	font-size: 10px;
	letter-spacing: -0.2px;
	position: absolute;
}

/*-- リンク部分 --*/
.music_frame_item_ar .m_link{
	margin: 42px 0 0 38px;
	width: 90.5%;
}


/*========================== discography、participation ==========================*/
#discography,
#participation{
	width: 100%;
	margin: 0 auto;
}
/*-- パララックス背景 --*/
.parallax{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

/*-- サムネイル --*/
.thum_flame{
	width: 100%;
	margin: 0 0 0 -2%;
	text-align: center;
}
.thum_flame li,
.thum_flame li:first-child{
	width: 39%;
	display: inline-block;
	vertical-align: top;
}
.thum_flame li{
	margin: 0 2% 20px 2%;
}
.thum_flame img{
	width: 100%;
	border: 6px solid #fff;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}
.thum_flame figcaption p{
	color: #555;
	line-height: 14px;
	margin: 7px 0 0 0;
	font-weight: bold;
}
.thum_flame figcaption p span{
	display: block;
	font-size: 10px;
	letter-spacing: 0;
	line-height: 13px;
	padding: 2px 0 0 0;
	color: #666;
	font-weight: normal;
}

/*====== colorbox部分 ======*/
.al_box_img{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	margin: 0 0 5px 0;
	width: 180px;
	border: 6px solid #fff;
}
.al_box_list{
	display: block;
	text-align: left;
	font-size: 11px;
	line-height: 17px;
	width: 200px;
	margin: 0 auto;
	letter-spacing: 0.3px;
}
.al_box_title{
	display: block;
	font-weight: bold;
	font-size: 15px;
	margin: 7px 0 5px 0;
	color: #2E7DA1;
	letter-spacing: 1.5px;
	text-align: center;
}
.al_box_date{
	display: block;
	font-size: 10px;
	margin: 0 0 15px 0;
	color: #999;
	letter-spacing: 0.5px;
	line-height: 13px !important;
	text-align: center;
}
.al_box_under{
	clear: both;
	margin: 10px 0 0 0;
}
.al_box_under a{
	display: inline-block;
	width: 19.6%;
	color: #666;
	border-radius: 3px;
	margin: 16px 2px 0 2px;
	padding: 6px 0 4px 0;
	border: 1px solid #999;
	transition: all 0.3s ease;
	position: relative;
}
.al_box_under a:active{
	background-color: #53c6d6;
	border: 1px solid #53c6d6;
	color: #fff;
}
.al_box_none_off{
	pointer-events: none;
	background-color: #bbb !important;
}
.al_box_link{
	color: #666;
	border-bottom: 1px dashed #aaa;
	transition: all 0.3s ease;
}
.al_box_link:active{
	color: #53c6d6;
	border-bottom: 1px dashed #53c6d6;
}
.al_box_link:after{
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	background: url("images/w_open2.png") no-repeat;
	background-size: contain;
	margin: 0 0 -1px 5px;
	opacity: 0.4;
	transition: all 0.3s ease;
}
.al_box_link:active:after{
	background: url("images/w_open3.png") no-repeat;
	background-size: contain;
	opacity: 1;
}

/*-- リンク部分　アイコン --*/
.al_box_under a:nth-child(1):before,
.al_box_under a:nth-child(2):before,
.al_box_under a:nth-child(3):before,
.al_box_under a:nth-child(4):before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin: -2px 0 -1px -9px;
	width: 22px;
	height: 21px;
	transition: all 0.3s ease;
}
.al_box_under a:nth-child(1):before{
	background: url("images/al_icon/al_box_icon_1.png") no-repeat;
	background-size: contain;
}
.al_box_under a:nth-child(2):before{
	background: url("images/al_icon/al_box_icon_2.png") no-repeat;
	background-size: contain;
}
.al_box_under a:nth-child(3):before{
	background: url("images/al_icon/al_box_icon_3.png") no-repeat;
	background-size: contain;
}
.al_box_under a:nth-child(4):before{
	background: url("images/al_icon/al_box_icon_4.png") no-repeat;
	background-size: contain;
}
.al_box_under a:nth-child(1):active:before{
	background: url("images/al_icon/al_box_icon_1_h.png") no-repeat;
	background-size: contain;
}
.al_box_under a:nth-child(2):active:before{
	background: url("images/al_icon/al_box_icon_2_h.png") no-repeat;
	background-size: contain;
}
.al_box_under a:nth-child(3):active:before{
	background: url("images/al_icon/al_box_icon_3_h.png") no-repeat;
	background-size: contain;
}
.al_box_under a:nth-child(4):active:before{
	background: url("images/al_icon/al_box_icon_4_h.png") no-repeat;
	background-size: contain;
}
.al_box_under a:after{
	content: "";
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 9px;
	height: 9px;
	background: url("images/w_open2.png") no-repeat;
	background-size: contain;
	opacity: 0.3;
}


/*========================== about ==========================*/
#about{
	width: 100%;
	margin: 0 auto 0 auto;
	background-color: #fff;
	z-index: 0;
	padding-bottom: 0 !important;
	position: relative;
}

/*-- タイトル背面 --*/
#about_title_left{
	position: absolute;
	z-index: -1;
	background-color: #f3f3f3;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
#about_title_right{
	position: absolute;
	z-index: -1;
	background-color: #fff;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

/*-- 中身 --*/
#about_flame{
	font-size: 11px;
	line-height: 19px;
	white-space: nowrap;
	letter-spacing: -0.3px;
	z-index: -1;
}
#about_left{
	width: 48.5%;
	float: left;
	text-align: right;
	padding: 20px 1.5% 100px 0;
	background-color: #fff;
}
#about_right{
	width: 48.5%;
	float: right;
	text-align: left;
	padding: 20px 0px 100px 1.5%;
	background-color: #f3f3f3;
}

/*-- コンタクト部分 --*/
#contact_href{
	color: #666;
	border-bottom: 1px dashed #aaa;
	transition: all 0.3s ease;
}
#contact_href:active{
	border-bottom: 1px dashed #53c6d6;
	color: #53c6d6;
}


/*========================== top_back ==========================*/
#top_back_fix{
	position: fixed;
	background: rgba(0,0,0,0.4);
	width: 45px;
	height: 45px;
	bottom: 58px;
	right: 5px;
	text-align: center;
	border-radius: 50px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s ease;
}
#top_back_fix:active{
	background: rgba(83,198,214,1);
}
#top_back_fix_in{
	background: url("images/top_back.png") no-repeat;
	background-size: contain;
	width: 23px;
	height: 23px;
	display: inline-block;
	margin: 10px 0 0 0;
}
.top_back_op{
	opacity: 1 !important;
	pointer-events: inherit !important;
}


/*========================== footer ==========================*/
footer{
	width: 100%;
	height: 175px;
	background: #2E2E2E;
	text-align: center;
	padding: 35px 0 20px 0;
	position: relative;
}
footer a{
	display: inline-block;
	margin: 0 4px;
	border-radius: 30px;
	border: 2px solid #444;
	background-color: #444;
	transition: all 0.3s ease;
}
footer a:active{
	background-color: #53c6d6;
	border: 2px solid #fff;
}
footer a img{
	width: 26px;
	height: 26px;
	padding: 8px;
}
footer p{
	font-size: 11px;
	color: #777;
	margin: 55px 0 0 0;
}


/*========================== プレーヤー ==========================*/
#audio_space{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	z-index: 100000;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
}
#audio_space_in{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	transition: all 0.5s ease;
}
.audio_op_sp{
	opacity: 1 !important;
	pointer-events: inherit !important;
}
#audio_title{
	color: #fff;
	font-size: 11px;
	text-align: center;
	height: 10px;
	letter-spacing: 0.3px;
	margin: 0 auto 0 auto;
	position: fixed;
	background-color: #444;
	padding: 7px 9px;
	bottom: 50px;
	opacity: 0.9;
	border-top-right-radius: 6px;
}

/*-- 読み込み中_プログレスバー --*/
#progress_bar ul{
	position: absolute;
	top: 20px;
	display: block;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42%;
}
@keyframes preload{
	0%{
		background: #53c6d6;
		opacity: 1;
	}50%{
		background: #fff;
		opacity: 0.5;
	}100%{
		background: #53c6d6;
		opacity: 1;
	}
}
#progress_bar ul li{
	opacity: 0.5;
	display: block;
	float: left;
	width: 11px;
	height: 11px;
	position: relative;
	margin: 0 2.5px;
	animation: preload 1s infinite;
	border-radius: 50%;
}
#progress_bar ul li:first-child{
	margin-left: 0;
}
#progress_bar ul li:nth-child(2){
	animation-delay: .15s;
}
#progress_bar ul li:nth-child(3){
	animation-delay: .3s;
}

/*-- コントローラー部　ボタン共通 --*/
#audio_play,
#audio_next,
#audio_prev,
#audio_repeat{
	outline: none;
	position: absolute;
}
#audio_play img,
#audio_next img,
#audio_prev img{
	width: 22px;
}

/*-- 再生ボタン --*/
#audio_play{
	top: 14px;
	left: 50px;
}
/*-- 次曲ボタン --*/
#audio_next{
	top: 14px;
	left: 86px;
}
/*-- 前曲ボタン --*/
#audio_prev{
	top: 14px;
	left: 13px;
}
/*-- リピートボタン --*/
#audio_repeat{
	top: 11px;
	left: 120px;
	border: 1px solid #fff;
	padding: 2px 3px 0px 3px;
}
#audio_repeat img{
	width: 22px;
}
.repeat_active{
	background-color: #eee;
	border: 1px solid #ddd !important;
	border-radius: 5px;
}

/*-- コントローラー部　波形、時間 --*/
#waveform{
	float: right;
	width: 41%;
	height: 10px;
	margin: -5px 3px 0 0;
}
.waveform_counter{
	float: right;
	margin: 2px 3px 0 0;
	color: #888;
	font-size: 9px;
	letter-spacing: 0.3px;
}
.waveform_duration{
	float: right;
	margin: 2px 12px 0 0;
	color: #888;
	font-size: 9px;
	letter-spacing: 0.3px;
}

/*-- 音量スライダー --*/
#volume[type="range"],
#audio_sp{
	display: none;
}

/*-- 各曲配置の再生ボタン --*/
.music_play{
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 29px;
	height: 27px;
	background-color: #53c6d6;
	border-radius: 3px;
	transition: all 0.3s ease;
	cursor: pointer;
}
.music_play img{
	width: 12px;
	position: relative;
	top: 7px;
	left: 9px;
}
.music_play:active{
	opacity: 0.5;
}

/*-- 再生楽曲カレント --*/
.m_current{
	box-shadow: 0 0 7px #666 !important;
	transition: all 0.3s ease;
}

/*-- 一時停止 --*/
.playlist_stop{
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 29px;
	height: 27px;
	border-radius: 3px;
	transition: all 0.3s ease;
	cursor: pointer;
	z-index: 2;
	display: none;
}
.stop_hide{
	display: inherit !important;
}
}